/* Add your CSS styles here */

/* Add line spacing */
.form-group input,
.form-group select {
  margin-bottom: 10px;
}

.btn-primary,
.btn-danger {
  border-radius: 20px !important; /* Make buttons rounded */
  color: #fff !important; /* Make text color white */
  border-color: transparent !important; /* Make border color transparent */
}

.btn-primary {
  background-color: #007bff !important; /* Make submit button blue */
}

.btn-danger {
  background-color: #dc3545 !important; /* Make cancel button red */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Center buttons vertically */
}

/* Customize Add Phone Number Button */
.btn-success {
  border-radius: 20px !important; /* Make button rounded */
  background-color: #000 !important; /* Black background */
  color: #fff !important; /* White text color */
  outline: none !important; /* Remove outline */
}

.btn-success:hover {
  background-color: #fff !important; /* White background on hover */
  color: #000 !important; /* Black text color on hover */
}
